* {
  box-sizing: border-box;
}
.App {
  text-align: center;
  background: lightgray;
  width: 50%;
  margin: 0 auto;
  /* height: 100vh; */
  padding: 2rem 2rem 2rem 2rem;
}

body {
  margin: 0;
}
button {
  padding: 1rem;
  margin: 0.5rem;
  background: gray; 
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 15px;
  
}

button:hover{
  box-shadow: 4px 3px 5px 2px rgba(0,0,0,0.35);
}

button:active {
  transform: translateY(4px);
}